/*--------------------------------------
Universal Styles
--------------------------------------*/
html {

}

body {
    background-color: black;
    margin: 0;
    font-family: Helvetica, Arial sans-serif;;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*padding: 0 20px;*/
    margin-top: 2.27rem;
    margin: 0 auto;
    max-width: 65.45rem;
}

h2, h4, h3, h5, p {
    text-align: center;
}



/*--------------------------------------
Navigation
--------------------------------------*/
nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid seashell ;
    position: sticky;
    top: 0;
    width: 100%;
    height: 3.136rem;
    background-color: black;
}

nav .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 69px;
}

#logo {
    height: 2.27rem;
    justify-content: center;
    margin-left: 0.45rem;
}

.nav_links {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.45rem;
}

a {
    /*border: 5px solid red;*/
    color: seashell;
    margin-left: 2rem;
}



/*--------------------------------------
Our Mission
--------------------------------------*/
.mission {
    /*border: 5px solid blue;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    max-width: 1200px;
}

.mission .wrapper {
    /*border: 5px solid yellow;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 700px;
    background-image: url(../resources/images/img-mission-background.webp);
    background-size: cover;
    
}

.mission .row {
    /*border: 5px solid violet;*/
    background-color: black;
}



/*--------------------------------------
Tea of the Month
--------------------------------------*/
.totm {
    /*border: 5px solid blue;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.totm .wrapper {
    /*border: 5px solid yellow;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
}

.totm .row {
    /*border: 5px solid violet;*/
    display: flex;
    flex-direction: column;
}


.totm_content_1, .totm_content_2 {
    /*border: 5px dotted green;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.totm_cards {
    /*border: 5px solid red;*/
    width: 300px;
    margin: 10px 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.totm_cards img {
    /*border: 5px solid aqua;*/
    height: 200px;
    width: 100%;
}



/*--------------------------------------
Locations
--------------------------------------*/
.locations {
    /*border: 5px solid blue;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    max-width: 1200px;
}

.locations .wrapper {
    /*border: 5px solid yellow;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 100%;
    background-image: url(../resources/images/img-locations-background.webp);
    background-size: cover;
    padding-bottom: 50px;
}

.locations .row {
    /*border: 5px solid violet;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.locations_cards {
    /*border: 5px solid green;*/
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin: 0 20px;
    opacity: 1;
}



/*--------------------------------------
Contact Info
--------------------------------------*/
.footer {
    /*border: 5px solid blue;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.footer .wrapper {
    /*border: 5px solid yellow;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.footer .row {
    /*border: 5px solid violet;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
}

.footer a {
    text-decoration: none;
}



/*--------------------------------------
Footer
--------------------------------------*/
.copyright {
    /*border: 5px solid green;*/
    margin: 0 -20px;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
}